<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
  <title>Calendar</title>  
  <%= stylesheet_link_tag "fullcalendar.css" %>
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.9.custom.min.js" %>
  <%= javascript_include_tag "fullcalendar.min.js" %>
  <%= javascript_include_tag "application.js" %>
  
  <%= csrf_meta_tag %>  
</head>
<body>

<%= yield %>

</body>
</html>
